<virtualhost *:{{ httpd_port }}>
    
    servername test
    documentroot /var/www/html/
    directoryindex index.php index.html
    <directory /var/www/html/>
       allowoverride all
    </directory>
    
</virtualhost>

